.card {
	perspective: 1000px;
	margin: auto;
}

.card__container {
	position: relative;
	width: 90%;
	height: 90%;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	cursor: pointer;
}

.card__flip {
	transform: rotateY(180deg);
}

.card__wrap {
	flex-basis: 100%;
}

.card__container > div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card__front {
	background-image: radial-gradient(#b7dfbd, #3e6849 60%, #2c5336 80%);
	transform: rotateY(180deg);
}

.card__back {
	background-image: radial-gradient(#4d7235, #34412d 90%);
}
.card__image {
	width: 90%;
	max-width: 15vh;
}
