.sidebar {
	height: 100vh;
	width: 15%;
	display: flex;
	flex-direction: column;
	border-right: solid #000000d2 0.3vw;
}

.side__container {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.side__container > div {
	width: 70%;
	margin: 0.5vw;
	padding: 0.5vw;
	border-radius: 1vw;
	background: var(--side_button);
	display: flex;
	flex-direction: column;
	border: var(--border);
}

h1 {
	font-size: calc(3vw);
	text-align: center;
	color: var(--font_color);
}

.button {
	align-items: center;
	font-size: calc(1.4vw);
	font-weight: 800;
	cursor: pointer;
}

.menu__info {
}

.menu__info > div {
	font-size: calc(1.1vw);
	font-weight: 500;
	padding: 1%;
	padding-left: 5%;
}

.menu_image {
	width: 100%;
}
